a, p, label, .header-title-2 {
    color: #000000!important;
}

.row {
    text-align: center;
}

.titre__contact {
    font-size: 18px;
}

.col-footer {
    width: 100%;
    text-align: center;
}

.footer__title {
    font-size: 20px;
    color: #000!important;
}

.footer__list {
    margin-top: 16px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer-icons {
    margin-top: 16px;
}

ul {
    padding-inline-start: 0px;
}

.footer-li {
    color: #000000!important;
    font-size: 16px;
}